.list-student {
	width: 1250px;
	border-collapse: collapse;
	text-align: left;
	overflow: hidden;
	padding-left: 10px;
	position: top;
	float: left;
}
#grid-students{
	border: 5px solid #ccc;
}
.tbl-header{

}
td, th{
	border-top: 0px solid #5e5e2f;
	padding: 10px;
	text-align: center;
	/*font-size: 20px;*/
}
td{
	border-left: 1px solid #ECF0F1;
	border-right: 1px solid #ECF0F1;
}
 th{
    background-color: #4ECDC4;
}
	tr:nth-of-type(even) td{
	background-color: lighten(#4ECDC4, 35%);
}